<ion-card style="height:500px" padding *ngIf="!hasName">
	<ion-card-title>
		Bem vindo!
	</ion-card-title>
	<ion-card-header>
		Para prosseguir preencha as informações abaixo
	</ion-card-header>
		<ion-item>
			<ion-label>Nome</ion-label>
			<ion-input [(ngModel)]="nome">
			</ion-input>
		</ion-item>
		<button ion-button (click)="confirmName()">Enviar</button>
</ion-card>
<ion-tabs *ngIf="hasName">
	<ion-tab [root]="tab1Root" tabTitle="Calcular IMC" tabIcon="calculator"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Consultar IMC's" tabIcon="information-circle"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Pesquisar" tabIcon="contacts"></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="Configuração" tabIcon="build"></ion-tab>
</ion-tabs>