<ion-card style="height:500px" padding *ngIf="!hasName">
	<ion-card-title>
		Bem vindo!
	</ion-card-title>
	<ion-card-header>
		Para prosseguir preencha as informações abaixo
	</ion-card-header>
  <form [formGroup]="loginForm">
		<mat-form-field appearance="outline">
			<ion-label>Nome</ion-label>
			<input matInput formControlName="nome"/>
		</mat-form-field>
		<ion-item>
			<ion-label>Senha</ion-label>
			<ion-input formControlName="senha">
			</ion-input>
		</ion-item>
		<button ion-button (click)="confirmName()">Enviar</button>
  </form>
</ion-card>
<ion-tabs *ngIf="hasName" #myTabs>
	<ion-tab [root]="tab1Root" tabTitle="Calcular IMC" tabIcon="calculator"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Consultar IMC's" tabIcon="information-circle"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Pesquisar" tabIcon="contacts"></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="Configuração" tabIcon="build"></ion-tab>
</ion-tabs>